
<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">Welcome to LeanERP</h1>
        <p class="lead">This is your Dashboard</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>

<div *ngFor="let extra of extras">

    <div class="row justify-content-md-start">
        <div class="col-8">
            <div *ngIf="extra">
               <!-- <h2><span>Consultant</span> {{account.login}}</h2>-->
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>Date d'entrée</span></dt>
                    <dd>
                        <span>{{extra.dateEntree | date :  "fullDate"}}</span>
                    </dd>
                    <dt><span>Telephone</span></dt>
                    <dd>
                        <span>{{extra.telephone}}</span>
                    </dd>
                    <dt><span>Congés Payés</span></dt>
                    <dd>
                        <span>{{extra.congePaye}}</span>
                    </dd>
                    <dt><span>Mission</span></dt>
                    <dd>
                        <span>{{extra.mission}}</span>
                    </dd>
                    <dt><span>Fonction</span></dt>
                    <dd>
                        <span>{{extra.fonction}}</span>
                    </dd>
                   <!-- <dt><span>User</span></dt>
                    <dd>
                        {{extra.user?.login}}
                    </dd>-->
                </dl>



               <button *jhiHasAnyAuthority="'ROLE_MANAGER'"  type="button"
                        [routerLink]="['/extra', extra.id, 'edit']"
                        class="btn btn-primary"
                >
                    <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
                </button>
            </div>
        </div>
    </div>

</div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>

      <!--  <p>
            If you have any question on JHipster:
        </p>
-->
        <ul>
          <!--  <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>-->
        </ul>
        </ul>

       <!-- <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>-->
    </div>
</div>
