<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-extra-heading">Add or edit Consultant informations</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div  class="form-group" [hidden]="!extra.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="extra.id"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateEntree">Date Entree</label>
                    <div class="input-group">
                        <input id="field_dateEntree" type="text" class="form-control" name="dateEntree" ngbDatepicker  #dateEntreeDp="ngbDatepicker" [(ngModel)]="extra.dateEntree"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEntreeDp.toggle()"><i class="fas fa-calendar-alt"></i></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateEntree?.dirty && editForm.controls.dateEntree?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateEntree?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="extra.telephone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_congePaye">Conge Paye</label>
                    <input type="number" class="form-control" name="congePaye" id="field_congePaye"
                        [(ngModel)]="extra.congePaye" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mission">Mission</label>
                    <input type="text" class="form-control" name="mission" id="field_mission"
                        [(ngModel)]="extra.mission" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fonction">Fonction</label>
                    <input type="text" class="form-control" name="fonction" id="field_fonction"
                        [(ngModel)]="extra.fonction" />
                </div>

                <div class="form-group" [hidden]="extra.user">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="extra.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === extra.user?.id ? extra.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
